{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('service') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('service') }}
{% endblock %}

{% block body %}
    {% embed 'blocks/embed/_content_wrapper.html.twig' %}
        {% block content %}
            <h2>{{ page.name }}</h2>
            {% for item in items %}
                {{ include('widget/video.html.twig') }}
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
