<header class="page-header page-header--fixed">
    {#<div class="page-header__top">
        <div class="uk-container">
            <div class="page-header__top-inner">
                {% for salon in salons(page ?? null) %}

                <div class="contact-item">
                    <a class="phone-link mgo-number-{{ salon.mangoId }}" href="tel:{{ salon.phoneDigits }}" onclick="yaCounter41408589.reachGoal ('{{ salon.yandexTarget }}');location.href='tel:{{ salon.phoneDigits }}'; return true;">
                        {{ salon.phone }}
                    </a>

                    <span>/</span>

                    <a class="adress-link" href="#map-yandex">
                        {{ salon.address }}
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="page-header__bottom">
        <div class="uk-container">
            <div class="page-header__bottom-inner">
                <div class="logo"><a class="logo__link" href="/"><img class="logo__img" src="/assets/images/logo.png" alt="DETAILINGOF"/></a></div>
                {{ main_menu(page) }}
                <div class="contacts-block"><a class="phone-numb" href="tel:78007757961">+7 (800) 775-79-61</a><a
                            class="callback-link js-popup-trigger" href="#">Запись на сервис</a></div>
                <div class="btn-mobile-menu"><a href="#mobile-menu" data-uk-toggle="">☰</a></div>
            </div>
        </div>
    </div>#}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-8">
                <div class="btn-content"><img style="width: 200.22px;" src="{{ asset('img/Logo.jpg') }}" data-lazy-image_quality="8" class=""></div>
            </div>
            <div class="col-4 d-md-none">
                <div class="btn-mobile-menu d-flex justify-content-end">
                    <a href="#mobile-menu" data-uk-toggle="">☰</a>
                </div>
            </div>
            <div class="col-md-6 d-none d-md-flex justify-content-md-center main-menu__block">
                <div class="main-menu">
                    <nav class="nav">
                        <ul class="nav-list uk-navbar" data-uk-navbar="">
                            <li><a href="#">Главная</a></li>
                            <li><a href="#">Наши услуги</a></li>
                            <li><a href="#">О нас</a></li>
                            <li><a href="#">Контакты</a></li>

                        </ul>
                    </nav>
                </div>

            </div>
            <div class="col-md-4 d-md-flex justify-content-md-between d-none address-and-social__block">
                <div class="header-address__wrapper d-flex flex-column">
                            <span>г.Москва, ул.Декабристов, владение 47а</span>
                            <span>+7(495) 640-00-10</span>
                </div>
                <div class="header__social-block d-flex">
                    <a class="btn btn-legacy css6 hvr-grow font-text d-flex align-items-center" data-action="linknew" href="https://t.me/StudioStyleD" target="_blank">
                        <div class="btn-content">
                            <img  src="https://437e81e1-5ed1-4d53-bed7-e6f8d97dcc9b.selcdn.net/52/94/58/da57ff315e546b95bf1cec14adcdb2919e/44x35q8/TelN.png" data-lazy-image_quality="8" class="">
                        </div>
                    </a>

                    <a class="btn btn-legacy css6 hvr-grow font-text d-flex align-items-center" data-action="linknew" href="https://www.instagram.com/styled.cc/" target="_blank">

                        <div class="btn-content">
                            <img src="https://437e81e1-5ed1-4d53-bed7-e6f8d97dcc9b.selcdn.net/5a/ae/09/326474f790b4a9a8da17db3f3063121191/28x29q8/Инст%209.png" data-lazy-image_quality="8" class="">
                        </div>
                    </a>

                    <a class="btn btn-legacy css6 hvr-grow font-text d-flex align-items-center" data-action="linknew" href="https://api.whatsapp.com/send?phone=74956400010 " target="_blank">

                        <div class="btn-content">
                            <img src="https://437e81e1-5ed1-4d53-bed7-e6f8d97dcc9b.selcdn.net/c3/3e/bd/162a9359a132e7c909a292d46c6a82d082/48x37q8/WSN.png" data-lazy-image_quality="8" class="">
                        </div>
                        </a>

                </div>

            </div>
        </div>
    </div>




</header>