<li><a href="{{ path('price_list') }}#content">Цены</a></li>
<li><a href="{{ path('skidki_i_akcii_index') }}#content">Акции</a></li>
<li><a href="{{ path('naschiraboty_index') }}#content">Портфолио</a></li>
<li><a href="{{ path('videoblog_index') }}#content">Видеоблог</a></li>
<li><a href="{{ path('dynamic_pages', {'token':'about_us/'}) }}#content">О нас</a></li>
<li><a href="{{ path('dynamic_pages', {'token':'contact_info/'}) }}#content">Контакты</a></li>