<!--Блок РЕЙТИНГИ начало-->
<section class="rating">
    <div class="container container2">
        <h2>Отзывы о нас:</h2>
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="rating__card">
                    <div class="img">
                        <a target="_blank" href="https://zoon.ru/msk/autoservice/avtomasterskaya_detejlingof_na_sevastopolskom_prospekte/reviews/">
                            <img {{ lazy_load(asset('img/rating/rating-logo-zoon.png')) }} alt="Zoon.ru">
                        </a>
                    </div>
                    <div class="text">
                        <span>рейтинг</span>
                        {{ stars(4.5) }}
                        <b>4.2 из 5</b>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="rating__card">
                    <div class="img">
                        <a target="_blank" href="https://yandex.ru/maps/org/deteylingof/1119366778/?ll=37.543629%2C55.635450&z=12">
                            <img {{ lazy_load(asset('img/rating/rating-logo-yandex.png')) }} alt="Yandex">
                        </a>
                    </div>
                    <div class="text">
                        <span>рейтинг</span>
                        {{ stars(4.5) }}
                        <b>4.2 из 5</b>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="rating__card">
                    <div class="img">
                        <a target="_blank" href="https://goo.gl/maps/4seacphrPAxKeFtq7">
                            <img {{ lazy_load(asset('img/rating/rating-logo-google.png')) }} alt="Google">
                        </a>
                    </div>
                    <div class="text">
                        <span>рейтинг</span>
                        {{ stars(5) }}
                        <b>5 из 5</b>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="rating__card">
                    <div class="img">
                        <a target="_blank" href="https://2gis.ru/moscow/firm/70000001020178971?m=37.543546%2C55.635367%2F16">
                            <img {{ lazy_load(asset('img/rating/rating-logo-2gis.png')) }} alt="2 Gis">
                        </a>
                    </div>
                    <div class="text">
                        <span>рейтинг</span>
                        {{ stars(5) }}
                        <b>5 из 5</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Блок РЕЙТИНГИ Конец-->