{% extends 'v2/base.html.twig' %}

{% block h1 %}
    <span>Кузовной</span> <span>ремонт</span> <span class="small-text">в Москве</span><span class="circle"></span>
{% endblock %}
{% block videofon %}
    {{ include('v2/blocks/section/hero.html.twig',{ h1 : block('h1') ?? page.h1 }) }}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block body %}
    {{ include('v2/blocks/section/auto-brands.html.twig') }}
    {% embed 'v2/embed/black-services-block.html.twig' %}
        {% block content %}
            {{ include('v2/blocks/section/services.html.twig') }}
            {{ naschiraboty_slider(page) }}
            {{ price_list(page) }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block extraModules %}
    {{ special_offers(page.brandAndModelName) }}
    {{ whatsapp_block(page) }}
    {{ include('v2/blocks/section/about.html.twig') }}
    {{ before_after(page) }}
    {{ seo_block(page.text) }}
    {{ our_works_slider(page) }}
    {{ include('v2/blocks/section/team.html.twig') }}
    {{ include('v2/blocks/section/reviews.html.twig') }}
{% endblock %}